@mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
      -ms-transform: scale($ratio);
       -o-transform: scale($ratio);
          transform: scale($ratio);
}
@mixin animation($what...) {
  -webkit-animation: $what;
      -ms-animation: $what;
       -o-animation: $what;
          animation: $what;
}
@mixin animation-delay($delay...) {
  -webkit-animation-delay: $delay;
      -ms-animation-delay: $delay;
       -o-animation-delay: $delay;
          animation-delay: $delay;
}
@mixin transition-delay($delay...) {
  -webkit-transition-delay: $delay;
      -ms-transition-delay: $delay;
       -o-transition-delay: $delay;
          transition-delay: $delay;
}
@mixin transform($what...) {
  -webkit-transform: $what;
      -ms-transform: $what;
       -o-transform: $what;
          transform: $what;
}
@mixin rotate($what) {
  -webkit-transform: rotate($what);
      -ms-transform: rotate($what);
       -o-transform: rotate($what);
          transform: rotate($what);
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}
@mixin translateY($y) {
  -webkit-transform: translateY($y);
          transform: translateY($y);
}
@mixin translateX($x) {
  -webkit-transform: translateX($x);
          transform: translateX($x);
}
@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}
@mixin transform-origin($origin){
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}
@mixin placeholder($color) {
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder { color: $color; }
  &::-webkit-input-placeholder  { color: $color; }
}
