
// Variables
@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'normalize';
@import 'slick';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
body{
  font-family: 'EB Garamond';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .04em;
  line-height: 1.6em;
  text-transform: none;
  color: rgba(64,64,64,.63);
}
h1{
  position: relative;
  font-family: 'Kurale';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  line-height: 75px;
  margin: 0;
  -webkit-font-smoothing: auto;
  a{
    color: #222;
    text-decoration: none;
  }
}
img {
  max-width: 100%;
}
.content{
  //padding-top: 75px;
}
.container{
  padding: 0 20px;
  max-width: 1100px;
  margin:0 auto;
  position: relative;
  &.small{
    max-width: 920px
  }
}
.desktop{
  display: none;
}
.cleaner{
  clear: both;
}
@media (min-width:768px) {
  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }
}
@media (min-width:992px) {

}

@import 'header';
@import 'footer';
@import 'welcome';
