.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 75px;
  z-index: 200;
}
.main-menu{

}
.main-menu-trigger{
  position: absolute;
  width: 40px;
  height: 34px;
  top:20px;
  right:15px;
  padding: 7px 3px 0 11px;
  cursor: pointer;

}
.main-menu-item{

}
@media (min-width:768px) {
  .main-menu-trigger{
    display: none;
  }
  .header{

  }
  .main-menu{

  }
  .main-menu-item{
    
  }
}
@media (min-width:992px) {

}
