@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a {
  color: black;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.4;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  outline: none;
  height: 100%;
  min-height: 1px;
}

.slick-slide a {
  outline: none;
}

.slick-slide iframe {
  position: relative;
  z-index: 4;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  color: transparent;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: 2;
  border: none;
  background: none;
  text-align: center;
}

.slick-arrow:after {
  text-shadow: 0 0 2px #fff;
  left: 0;
  bottom: 0;
  color: black;
  content: "\203A";
  position: absolute;
  top: 0;
  font-size: 60px;
  margin: auto;
  height: 40px;
  width: 100%;
}

.slick-next {
  right: 0;
}

.slick-prev:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slick-disabled {
  opacity: 0;
}

@media (min-width: 1024px) {
  .slick-arrow {
    width: 60px;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "EB Garamond";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 1.6em;
  text-transform: none;
  color: rgba(64, 64, 64, 0.63);
}

h1 {
  position: relative;
  font-family: "Kurale";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  line-height: 75px;
  margin: 0;
  -webkit-font-smoothing: auto;
}

h1 a {
  color: #222;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.container.small {
  max-width: 920px;
}

.desktop {
  display: none;
}

.cleaner {
  clear: both;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 200;
}

.main-menu-trigger {
  position: absolute;
  width: 40px;
  height: 34px;
  top: 20px;
  right: 15px;
  padding: 7px 3px 0 11px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .main-menu-trigger {
    display: none;
  }
}

.footer {
  clear: both;
}

